.main {
  position: relative;
  top: 100px;
}

.main-block {
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 1350px) {
  .main-block {
    width: 100%;
  }
}

.block-title {
  margin: 50px 0 10px;
}